.role_display:link { text-decoration: none; }
.role_display:visited { text-decoration: none; }
.role_display:hover { text-decoration: none; }
.role_display:active { text-decoration: none; }

.vote_counter:link { text-decoration: none; }
.vote_counter:visited { text-decoration: none; }
.vote_counter:hover { text-decoration: none; }
.vote_counter:active { text-decoration: none; }

.role_ch_ex {
    background-color: var(--code-kbd-background-color);
    color: var(--code-kbd-color);
    --font-weight: bolder;
}
.role_ch_ne {
    background-color: var(--code-background-color);
    color: var(--code-color);
}
.role_nc_ex {
    background-color: var(--background-color);
    color: var(--contrast);
    --font-weight: bolder;
}
.role_nc_ne {
    background-color: var(--background-color);
    color: var(--code-color);
}